.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  height: 100vh;
  width: 100vw;
}

div.banner-headline {
  visibility: hidden;
  display: none;
}

.container {
  height: 100vh;
  display: grid;
  -ms-grid-template-columns: 45% 55%;
  grid-template-columns: 45% 55%;
  -ms-grid-row: 100%;
  grid-row: 100%;
  -ms-grid-column-gap: 0;
  grid-column-gap: 0;
  -ms-grid-row-gap: 0;
  grid-row-gap: 0;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.item-a {
  -ms-grid-column-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-column-end: 2;
  grid-row-start: 1;
  -ms-grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-row-end: 2;
  overflow: hidden;
}

.item-b {
  -ms-grid-column-start: 2;
  grid-column-start: 2;
  -ms-grid-column-end: 3;
  grid-column-end: 3;
  -ms-grid-row-start: 1;
  grid-row-start: 1;
  -ms-grid-row-end: 2;
  grid-row-end: 2;
}

.banner img {
  max-height: 100%;
  width: auto;
  position: relative;
  left: -20%;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.spotlight {
  padding: 1em;
  align-self: center;
  -webkit-animation: fadeupin 1s;
  -moz-animation: fadeupin 1s;
  -ms-animation: fadeupin 1s;
  -o-animation: fadeupin 1s;
  animation: fadeupin 1s;
}

.spotlight-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  resize: vertical;
  overflow: auto;
}

img.profile-pic {
  display: block;
  max-width: 15%;
  height: auto;
  margin: 0.5em auto;
  border-radius: 50%;
}

.spotlight h1, h2 {
  padding: 0;
  text-align: center;
}

.spotlight h1 {
  font-family: 'Palatino', 'Big Caslon';
  letter-spacing: 0.02em;
  font-size: 2.6em;
  font-weight: 200;
  line-height: 0.2em;
}

.spotlight h2 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  border-top: 1px solid #DDD;
  padding: 0.2em;
  color: #AAA;
  position: relative;
  top: -1em;
  z-index: -1;
}

.spotlight p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 1.15em;
  margin: 1.5em 4em;
  line-height: 1.2em;
}

.spotlight a, a:visited {
  color: #0074D9;
  font-weight: bold;
  text-decoration: none;
}

.spotlight a:hover {
  color: #7FDBFF;
  font-weight: 300;
}

p.social-links {
  text-align: center;
}

img.social {
  height: 30px;
  width: auto;
  opacity: 0.2;
  margin: 1em 0.4em;
}

img.social:hover {
  opacity: 0.6;
}

/* ANIMATION KEYFRAMES */

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeupin {
  from {
    opacity: 0;
    position: relative;
    top: 10px;
 }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

@-moz-keyframes fadeupin {
  from {
    opacity: 0;
    position: relative;
    top: 10px;
 }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

@-webkit-keyframes fadeupin {
  from {
    opacity: 0;
    position: relative;
    top: 10px;
 }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

@-ms-keyframes fadeupin {
  from {
    opacity: 0;
    position: relative;
    top: 10px;
 }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

@-o-keyframes fadeupin {
  from {
    opacity: 0;
    position: relative;
    top: 10px;
 }
  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

/* SCREEN RESIZE OPTIONS */

@media screen and (max-width: 1125px) {

  body {
    font-size: 1.2em;
  }

  div.headline {
    visibility: hidden;
    display: none;
  }

  div.banner-headline {
    display: block;
    visibility: visible;
    position: relative;
    top: 19em;
    z-index: 1;
  }

  div.banner-headline h1 {
    color: #FFF;
    font-family: 'Palatino', 'Big Caslon';
    letter-spacing: 0.02em;
    font-size: 3em;
    font-weight: 200;
    line-height: 0.2em;
    text-align: center;
    text-shadow: 5px 5px 8px #000;
  }

  div.banner-headline h2 {
    color: #FFF;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    font-weight: 400;
    text-transform: uppercase;
    border-top: 1px solid #CCC;
    padding: 0.2em;
    position: relative;
    top: -1em;
    text-shadow: 5px 5px 8px #000;
  }

  .container, .item-a, .item-b {
    display: block;
    width: 100%;
  }

  .item-a {
    position: relative;
    top: -10em;
  }

  .item-b {
    position: relative;
    top: -8em;
  }

  .banner img {
    width: 100vw;
    height: auto;
    position: relative;
    left: 0;
    animation: none;
    z-index: -1;
  }

  img.profile-pic {
    max-width: 20%;
    animation: none;
  }

  img.social {
    height: 40px;
    width: auto;
    opacity: 0.2;
    margin: 1em 0.4em;
  }

  .spotlight-content {
    background-color: #FFF;
  }

  div.spotlight-content p {
    margin: 1.5em 2em;
  }
}

@media screen and (max-width: 680px) {

  p {
    margin: 1.1em 1.6em !important;
    text-align: center;
  }

  .spotlight {
    padding: 0;
    margin: 0;
  }

  img.profile-pic {
    max-width: 25%;
    animation: none;
  }

  div.headline {
    visibility: visible;
    display: block;
  }

  .item-a {
    visibility: hidden;
    display: none;
  }

  .item-b {
    position: relative;
    top: 0;
  }
}
